@layer components {
  .homepage-hero {
    @apply bg-contain bg-no-repeat bg-bottom;
    @apply bg-translate-dark-green;
    @apply pt-24;
  }

  @screen lg {
    .homepage-hero {
      background-image: url("/page/homepage-hero.png");
      @apply min-h-[1050px];
      @apply bg-top;
    }
  }

  @screen xl {
    .homepage-hero {
      background-image: url("/page/homepage-hero.png");
      @apply min-h-[1200px];
    }
  }

  @screen 2xl {
    .homepage-hero {
      background-image: url("/page/homepage-hero.png");
      @apply min-h-[1300px];
      @apply bg-bottom;
    }
  }
}
